* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}
body {
    display:flex;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a {
    color: white;
}
a:visited {
    color: white;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 150%;
    background-attachment:local;
    justify-content: space-between;
}

.logo {
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 14%, 0.667);
    height: 100px;
    width: 100%;
    padding: 0px;

}
.credit {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   color: white;
   margin-bottom: 10px;
}
.container2{
    width: 70%;
    display: flex;
    flex-direction: column;

}

.block1 {
    background-color: hsla(0, 2%, 87%, 0.157);
    height: 33.333%;
    padding: 10px;
}
.block2 {
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    height: 33.333%;
    -webkit-box-shadow: 0px 5px 15px 5px #000000; 
    box-shadow: 0px 5px 15px 5px #000000;
}
.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

}
.column1 {
    display: flex;
    flex-direction: column;

}
.column2{
    display: flex;
    flex-direction: column;
}
label {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input {
    height: 25px;
    padding: 2px;
    max-width: 125px;
}

.block3 {
    background-color: white;
    height: 23%;
    width: 70%;
    position: fixed;
    bottom: 0;
    

}

h1 {
    color: white;
}

button {
    background-color: hsl(103, 100%, 21%);
    padding: 10px;
    margin: 10px;
    color: whitesmoke;
    font-size: 14px;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
}
button:hover {
    background-color: hsl(103, 100%, 31%);
}
button:active {
    background-color: hsl(103, 100%, 11%);
}
